@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ProdASP.Models
@model Republic

<form asp-controller="Place" asp-action="CreateCity" method="post">
	<div class="mb-3">
		<label class="form-label">Название города</label>
		<input type="text" class="form-control" name="NamePlace">
	</div>
	<div class="mb-3">
		<label class="form-label">В какой стране</label>
		<select asp-for="Id" name="CountryName" class="form-control" asp-items="ViewBag.Id"></select>
	</div>
	<div class="mb-3">
		<label class="form-label">Республика города</label>
		<input type="text" class="form-control" name="RepubName">
	</div>
	<br />
	<input type="submit" value="Загрузить" />
</form>