@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ProdASP.Models
@model IEnumerable<Country>
<table>
    <tr>
        <th></th>
        <th>Флаг страны</th>
        <th>Страна</th>
        <th>Язык</th>
    </tr>
    @foreach (var i in Model){
        <tr class="header expand">
            <td style="width: 10%;" ><span class="sign"></span>

        </td>
            <td><img  src="@i.Image" width="100px" height="50px" /></td>
            <td >@i.NamePlace</td>
            <td>@i.Language</td>
        </tr>
        <tr>
            <th colspan="2"></th>
            <th>Республики</th>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>RR</td>
        </tr>
        <tr>
            <th colspan="2"></th>
            <th>Города</th>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>CC</td>
        </tr>
    }
    
</table>


@section scripts {
    <script>
        //$(function () {
        //    $(".dropDown").hide();
        //    $(".dropClick").on("click", function () {
        //        var $nextDrop = $(this).parent().find(".dropDown").first();
        //        $nextDrop.slideToggle(100);
        //    });
        //});
        $('.header').click(function () {
            $(this).toggleClass('expand').nextUntil('tr.header').slideToggle(100);
        });
    </script>
}


    <style>
        /*td {
            border: 1px solid black
        }

        .dropDown {
            display: none
        }

        .dropClick {
            color: red
        }*/
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }

            tr.header {
                cursor: pointer;
            }

        .header .sign:after {
            content: "v";
            display: inline-block;
        }

        .header.expand .sign:after {
            content: ">";
        }
    </style>   
    

