@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ProdASP.Models
@model IEnumerable<Country>
<table>
    <tr>
        <th></th>
        <th>Флаг страны</th>
        <th>Страна</th>
        <th>Язык</th>
    </tr>
    @foreach (var i in Model){
        <tr class="header expand">
            <td class="top" style="width: 5%;" ><span class="sign"></span>

        </td>
            <td class="top" ><img  src="@i.Image" width="100px" height="50px" /></td>
            <td style="width: 40%;">@i.NamePlace</td>
            <td style="width: 40%;">@i.Language</td>
        </tr>
        <tr>
            <td class="down" colspan="2"></td>
            <th colspan="2">Информация о стране</th>
        </tr>
        <tr>
            <td class="down" colspan="2"></td>
            <td class="info" colspan="2">@i.Information</td>
        </tr>
        <tr>
            <th class="down" colspan="2"></th>
            <th>Республики</th>
        </tr>
        <tr>
            <td class ="down" colspan="2"></td>
            <td>RR</td>
        </tr>
        <tr>
            <th class="down2" colspan="2" rowspan="2"></th>
            <th>Города</th>
            <th>В какой республике</th>
        </tr>
        <tr>
            <td class="down3">CC</td>
            <td class="down3">CC2</td>
        </tr>
    }
    
</table>


@section scripts {
    <script>
        //$(function () {
        //    $(".dropDown").hide();
        //    $(".dropClick").on("click", function () {
        //        var $nextDrop = $(this).parent().find(".dropDown").first();
        //        $nextDrop.slideToggle(100);
        //    });
        //});
        $('.header').click(function () {
            $(this).toggleClass('expand').nextUntil('tr.header').slideToggle(100);
        });
    </script>
}


    <style>
        /*td {
            border: 1px solid black
        }

        .dropDown {
            display: none
        }

        .dropClick {
            color: red
        }*/
        .info{
            word-break: break-all;
        }
        .down3{
            border-bottom : 3px solid black;
        }
        .down2{
            border-left : hidden!important;
        }
        .down{
            border-left : hidden!important;
            border-bottom : hidden!important;
        }
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th{
            text-align: center;
        }

        tr.header {
                cursor: pointer;
            }

        .header .sign:after {
            content: "v";
            display: inline-block;
        }

        .header.expand .sign:after {
            content: ">";
        }
        
    </style>   
    

